<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}};
</head>

<body>
    {{>navbar}}
    
<!-- main header--------------------      -->
<div class="container-fluid main_header ">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
           <div class="col-md-12 col-12 main_header_left align-items-center">
           <figure class="errorimg">
            <img src="images/404error.png" alt="Ankit" class="img-fluid" title="Ankit Baghel">
           </figure>
          
        
            <p>Welcome to my world!</p>
            <h1>{{errorMsg}}</h1>
            <a href="/" > <button>go back  </button></a>
          </div>
          <!-- rigth side div----- -->
         
        </div>
      </div>
  </div>
</div>
{{>footer}}
</body>

</html>